<div class="row text-center m-5">
  <b>Structural directives *ngIf vs if </b>
</div>

<div class="row text-center">
  <div class="col-4">
    <div >
      <input type="checkbox" (click)="buttonClicked()"/> Terms and Conditions
    </div>
    <!-- <div *ngIf="isButtonClicked">
      <button class="btn btn-success m-2">Submit</button>
    </div> -->
    @if(isButtonClicked){
    <button class="btn btn-success m-2">Submit</button>
    }
  </div>
  <div class="col-4">
    @if(isTextEnabled){
    <input type="text" />
    }
    <!-- <input type="text" *ngIf="isTextEnabled" /> -->
    <div class="btn btn-success m-3" (click)="isShow()">Show</div>
    <div class="btn btn-danger m-3" (click)="isHide()">Hide</div>
  </div>
  <div class="col-4">
    <input type="text" [(ngModel)]="input1" />
    <input type="text" [(ngModel)]="input2" />
    <!-- <p *ngIf="input1 === input2" class="text text-success">
      Both Texts are equal
    </p>
    <p *ngIf="input1 !== input2" class="text text-danger">
      Both Texts are not equal
    </p> -->
    @if(input1 === input2){
    <p class="text text-success">Both Texts are equal</p>
    }@else{
    <p class="text text-danger">Both Texts are not equal</p>
    }
  </div>
</div>
